click>=8.0.0
coverage==7.8.0
Flask
iniconfig==2.1.0
itsdangerous>=2.0.0
Jinja2>=3.0.0
MarkupSafe>=2.0.0
packaging==25.0
pluggy==1.5.0
pytest==8.3.5
pytest-cov==6.1.1
python-dotenv==1.1.0
Werkzeug>=2.0.0
pip~=25.1
wheel~=0.41.2
blinker~=1.9.0
setuptools~=80.3.1
greenlet~=3.2.1
platformdirs~=4.3.7
locust~=2.37.0